<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuxia.mapper.BillMapper">
	<resultMap type="Bill" id="billList">
		<id property="id" column="id" />
		<result property="billCode" column="billCode" />
		<result property="productName" column="productName" />
		<result property="totalPrice" column="totalPrice" />
		<result property="isPayment" column="isPayment" />
		<result property="creationDate" column="creationDate" />
		<association property="provider" javaType="Provider">
			<result property="proName" column="proName" />
		</association>
	</resultMap>
	<select id="getBillList" resultMap="billList">
		select b.*,p.proName from smbms_bill b,smbms_provider p
		<where>
		<if test="productName!=null and productName!=''">and b.productName like CONCAT('%',#{productName},'%') </if>
		<if test="providerId != null">and p.id=#{providerId} </if>
		<if test="isPayment != null">and b.isPayment=#{isPayment} </if>
		and b.providerId=p.id
		</where>
	</select>
</mapper>